.quiz-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.quiz-selection__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: stretch;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.quiz-selection__list a {
  display: flex;
}

.quiz-selection__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: bisque;
  padding: 5px;
  box-shadow: 0 0 10px -5px #000;
  border-radius: 5px;
}
.quiz-selection__item .imgWrapper {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
}
.quiz-selection__item img {
  max-width: 100%;
  aspect-ratio: 1/1;
}
.quiz-selection__item:hover img {
  scale: 1.1;
  filter: brightness(0.25);
  transition: 0.25s;
}
.quiz-selection__item:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10px);
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.quiz-selection__item button {
  background-color: lightgreen;
  padding: 5px 10px;
  border: solid 1px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 12px -6px #000;
  margin: 5px auto;
  transition: 0.25s;
}
.quiz-selection__item button:hover {
  background-color: rgb(0, 220, 0);
  box-shadow: 0 0 20px -5px #000;
}
