.changeLanguageWrapper {
  position: relative;
  display: flex;
}

.changeLanguageBtn {
  display: flex;
}
.changeLanguageWrapper button {
  width: 100%;
  background-color: transparent;
  border: none;
}

.openLanguage {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 5px;
}
.openLanguage.active {
  display: flex;
}
.openLanguage.active.header {
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.openLanguage.active.footer {
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}
.openLanguage button {
  padding: 5px 10px;
}
