.didYouKnow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  max-height: 300px;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
  overflow: hidden;
}

.didYouKnow h2 {
  animation: fadeIn 1s ease-in-out;
}

.didYouKnow .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  animation: fadeIn 1s ease-in-out;
}

.didYouKnow .info p {
  min-width: 150px;
  padding: 10px;
}

.didYouKnow .info .imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
}
.didYouKnow .info .imgWrapper img {
  width: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.didYouKnow button {
  width: 100%;
  background-color: rgb(150, 225, 150);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
  }
}
