footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: lightblue;
  padding: 5px;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: lightblue;
  padding: 5px;
}
