.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.quiz .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.quiz .buttons button {
  background-color: lightblue;
  padding: 5px 10px;
  border: solid 1px;
  border-radius: 5px;
  transition: 0.25s;
}
.quiz .buttons button:hover {
  background-color: blueviolet;
}

/* When quiz is playing */
.quiz > .game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 300px;
  width: calc(100% - 100px);
  background-color: rgb(240, 240, 240);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 24px -16px;
}
.quiz > .game .responses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.quiz > .game .responses li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5px;
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
@media (hover: hover) {
  .quiz > .game .responses li:hover {
    background-color: rgb(100, 200, 200);
  }
}
.quiz > .game .responses li.limited {
  max-width: 125px;
}
.quiz > .game .responses li .responseImgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.quiz > .game .responses li .responseImgWrapper .responseImg {
  width: 100%;
}
.quiz > .game .responses li.correctResponse.active {
  background-color: lightgreen;
}
.quiz > .game .responses li.wrongResponse.active {
  background-color: red;
}

@media (min-width: 600px) {
  .quiz > .game .responses li.limited {
    max-width: 150px;
  }
}

@media (min-width: 800px) {
  .quiz > .game .responses li.limited {
    max-width: 175px;
  }
}
