.searchBar {
  position: sticky;
  top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: aquamarine;
  padding: 10px;
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.searchBar .searchItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.searchBar select {
  width: 100%;
}

.searchBar .searchInput {
  height: 35px;
  padding: 5px;
}

.searchBar button {
  max-width: 200px;
  background-color: rgb(255, 100, 0);
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

/* Rankings */
.searchBar.searchBar-rankings {
  width: 100%;
  border-radius: 10px;
}
